<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Images</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="grid">
        {% for asset in assets %}
            <figure class="image_container">
                <img src="{{ url_for('static', filename=asset.rendition_url) }}" alt="Image">
                <figcaption>
                    {% for _ in range(asset.payload.get_rating()) %}
                        <span class="star-rating">&#9733;</span>
                    {% endfor %}
                    {% for _ in range(5 - asset.payload.get_rating()) %}
                        <span class="dot-rating">&#183;</span>
                    {% endfor %}
                </figcaption>
            </figure>
        {% endfor %}
    </div>
</body>
</html>
