<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Images</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="grid">
        {% for image_url in image_urls %}
            <div class="image_container">
                <img src="{{ url_for('static', filename=image_url) }}" alt="Image">
            </div>
        {% endfor %}
    </div>
</body>
</html>
