<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Adobe Auth Example</title>
</head>
<body>
        <div>
                <h1>Adobe Lightroom API</h1>
        </div>
        <div>
                <button onclick="location.href='/authorize'">Log In with Adobe</button>
                <button onclick="location.href='/health'">Health</button>
                <button onclick="location.href='/account'">Account details</button>
                <button onclick="location.href='/catalog'">Catalog</button>
                <button onclick="location.href='/assets'">Assets</button>
        </div>
        <div>
                {{ response }}
        </div>
</body>
</html>