<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Adobe Auth Example</title>
</head>
<body>
        <div>
                <h1>Adobe Lightroom API</h1>
        </div>
        <div>
                <button onclick="location.href='/authorize'">Log In with Adobe</button>
                <button onclick="location.href='/health'">Health</button>
                <button onclick="location.href='/account'">Account details</button>
                <button onclick="location.href='/catalog'">Catalog</button>
                <button onclick="location.href='/assets'">Assets</button>
                <button onclick="location.href='/albums'">Albums</button>
                <button onclick="location.href='/stats'">Stats</button>
        </div>
        <div>
                {{ response }}
        </div>
        <div>
                {% if rating_counts is defined %}
                <table>
                        <thead>
                        <tr>
                                <th>Rating</th>
                                <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rating, count in rating_counts.items() %}
                        <tr>
                                <td>
                                        {% for _ in range(rating) %}
                                                *
                                        {% endfor %}
                                </td>
                                <td>{{ count }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>
                {% endif %}
        </div>
</body>
</html>