.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(351px, 1fr)); /* Adjust 200px to your desired column width */
    gap: 30px 10px; /* Gap between rows and columns */
}

.image_container img {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_container {
    margin: 0;
    width: 350px; 
    height: 250px; 
    /* overflow: hidden;  */
}

figure.image_container figcaption {
    font-size: 14px;
    z-index: 10;
    padding: 0px;
    font-weight: bold;
    color: black; /* Change to your desired color */
    text-align: center;
}

.star-rating {
    font-size: 18px; /* Adjust the font size as needed */
    color: gold; /* Adjust the color as needed */
}

.empty-star {
    font-size: 18px; /* Adjust the font size as needed */
    color: grey;
}