.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(351px, 1fr)); /* Adjust 200px to your desired column width */
    gap: 10px; /* Gap between rows and columns */
}

.image_container img {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover; /* this ensures the image covers the container without distortion */
}

/* img, .image_container {
    margin: 0;
    padding: 0;
} */

.image_container {
    margin: 0;
    width: 350px; /* adjust as needed */
    height: 250px; /* adjust as needed */
    overflow: hidden; /* hides any part of the image that doesn't fit */
}

.image_container p {
    margin: 0;
    padding: 0;
    border: none;
    color: black; /* Change to your desired color */
}

/* img {
    display: block;
} */
